.record {
    width: 24rem;
    height: 24rem;
    text-align: center;
    border: 1px solid;
    margin: auto;
    position: relative;
    border-style: none;
    /* box-shadow: 0.3333em 0.3333em 0px rgba(248,242,242,0.1), */
    /*     0 0 1px rgba(248,242,242,0.1); */
    cursor: pointer;
    z-index: 1;
    background-color: rgba(248,242,242,1);
    overflow: hidden;
    color: #080903;
	text-shadow: 3px 3px 0px rgba(8,9,3,0.1), 0px 0px 1px;
    
}
.record, .record * {
    transition: all 0.3s ease;
}
.record-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    fill: rgba(210,253,0,1);
    transform: scale(0.2) translateY(-6%);
    /* filter: drop-shadow( 0.3333em 0.3333em 0px rgba(8,9,3,0.1)); */
    z-index: 0;
}
/* .record:active .record-background, */
/* .record:hover .record-background { */
/*     fill: rgba(210,253,0,1); */
/*     transform: scale(1); */    
/*     filter: drop-shadow( 0.3333em 0.3333em 0px rgba(210,253,0,0.2)); */
/* } */
.record:active .record-background {
    filter: drop-shadow( 0 0 0.3333em rgba(210,253,0,0.2));
}
.record-top-label, .record-bottom-label {
    box-shadow: none;
    /* padding: 1px 0; */
    background: rgba(255, 255, 255, 0.8);
    font-size: 1.5em;
    padding: 1em;
    margin: 0.5em;
}
.record small {
    opacity: 1;
}
.record-bottom-label {
    position: absolute;
    width: calc(100% - 1em);
    bottom: 0;
}
.record-center-label {
    position: absolute;
    top: 33.3333%;
    left: 33.3333%;
    width: 33.3333%;
    height: 33.3333%;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #999 inset;
    transition: all .2s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    z-index: 1;
    background: #fff;
}
/* .record:active, */
/* .record:hover { */
/*     background-color: transparent; */
/*     background-size: 100% auto; */
/*     box-shadow: none; */
/*     fill: rgba(210,253,0,1); */
/*     color: rgba(210,253,0,1); */
/*     text-shadow: 0.3333em 0.3333em 0px rgba(210,253,0,0.2), 0px 0px 1px; */
/*     overflow: visible; */
/* } */
/* .record:active { */
/*     text-shadow: 0 0 3px; */
/* } */
/* .record:active small, */
/* .record:hover small { */
/*     opacity: 0; */
/* } */
/* .record:active .record-bottom-label, */
/* .record:hover .record-bottom-label { */
/*     bottom: 14.5em; */
/* } */
/* .record:active .record-center-label, */
/* .record:hover .record-center-label { */
/*     opacity: 0; */
/* } */
.record-center-label::after {
    content: "";
    background-color: #000;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    flex: 0 0 auto;
    margin-left: 2px;
}
