a[href], ins, u {
    text-decoration: none;
    background: linear-gradient(to bottom, currentColor 50%, currentColor 50%);
    background-size: 1px 2px;
    background-repeat: repeat-x;
    /* background-position: 0 1.1667em; */
    background-position: 0 1.2em;
    text-shadow: -1px 0px 0 white,0px -1px 0 white,0px 0px 0 white,0px 1px 0 white,1px 0px 0 white;
}
