@charset "UTF-8";

/**
 * webfonts {{{
 */
@font-face {
    font-family: "CafeAndBrewery";
    font-style: normal;
    font-weight: 400;
    src: local('cafÈ & brewery'), 
    url('webfont/cafeandbrewery.woff2') format('woff2'),
    url('webfont/cafeandbrewery.woff') format('woff'),
    url('webfont/cafeandbrewery.ttf') format('opentype');
}

@font-face {
    font-family: "FinenessPro";
    font-style: normal;
    font-weight: 400;
    src: local('Fineness Pro Regular'), 
    url('webfont/finenesspro.woff2') format('woff2'),
    url('webfont/finenesspro.woff') format('woff'),
    url('webfont/finenesspro.otf') format('opentype');
}

@font-face {
    font-family: "EnvyCode";
    font-style: normal;
    font-weight: 400;
    src: local('Envy Code R'), 
    url('webfont/envycode.woff2') format('woff2'),
    url('webfont/envycode.woff') format('woff'),
    url('webfont/envycode.ttf') format('opentype');
}
/**
 * }}} 
 * *, ::selection {{{
 */

*, *::before, *::after {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

* {
    transition: all 0.3s ease;
}

::selection {
    background-color: #ffef00;
    color: #000;
}

::-moz-selection {
    background-color: #ffef00;
    color: #000;
}

::-webkit-selection {
    background-color: #ffef00;
    color: #000;
}

/**
 * }}}
 * reset {{{
 */

div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,button,input,textarea,select,option {    
    color: inherit;
    margin: 0;
    padding: 0;
    border: none;
    font-family: inherit;
    vertical-align: baseline;
    font-weight: normal;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

ol,ul {
    list-style: none;
}

blockquote,q {
    quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none;
}

button {
    background-color: transparent;
}

/**
 * }}}
 * page layout {{{
 */

html,body {
    height: 100%;
    margin: 0;
    font-family: 'FinenessPro', sans-serif;
    color: #2c2c2c;
    scroll-behavior: smooth;
}

pre {
    font-family: 'EnvyCode', monospace;
}

h1 {
    font-family: 'CafeAndBrewery', sans-serif;
    font-weight: 900;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/**
 * }}}
 * flexbox stuff {{{
 */
.flex-align-self-start {
    align-self: flex-start;
}

.flex-align-self-end {
    align-self: flex-end;
}

.flex-align-self-center {
    align-self: center;
}

/**
 * }}}
 * header/navbar {{{
 */

body > header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.navbar {
    background: #00b5fb;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0 3px 10px rgba(44, 44, 44, 0.4);
}

.navbar h1 {
    flex-grow: 1;
    font-family: "CafeAndBrewery";
    font-size: 3em;
    line-height: 0.75;
    padding: 0;
    text-transform: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar img {
    width: 1em;
    margin-right: 0.2em;
    vertical-align: middle;
}

.navbar a {
    flex: 0 0 auto;
    display: inline-block;
    text-decoration: none;
}

.navbar-link {
    padding: 1.3333rem;
    text-transform: uppercase;
}

.navbar-link:hover,
.navbar-hamburger:hover {
    background: #fff;
    color: #00b5fb;
}

.navbar-hamburger {
    font-size: 0;
}

@media screen and (max-width: 960px) {
    .navbar {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        width: 100%;
    }

    .navbar h1 {
        flex-basis: 100%;
        text-align: center;
        font-size: 10vmin;
    }

    .navbar-link {
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .navbar {
        flex-direction: column;
    }

    .navbar h1 {
        flex-direction: column-reverse;
    }

    .navbar img {
        margin: 0;
    }

    .navbar-hamburger {
        font-size: 2em;
        text-align: center;
        width: 100%;
    }

    .navbar a.navbar-link {
        flex: 1 1 auto;
        width: 100%;
        display: none;
    }

    .navbar-hamburger,
    .navbar.navbar-expand a.navbar-link {
        display: inline-block;
    }

    .navbar-expand .navbar-hamburger::after {
        content: '';
    }
}
/**
 * }}}
 * footer {{{
 */
.footer {
    background: rgb(156, 156, 156);
    padding: 3em 10%;
}

.footer-nav {
    list-style-type: circle;
    color: #fff;
}

.footer-nav a:hover {
    text-decoration: none;
}

footer.with-love {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 13px;
    padding: 0.25em 2em 0 2em;
    background: #ddd;
    border-top-left-radius: 5px;
    border-top: 1px dotted;
    border-left: 1px dotted;
    background: rgba(0,0,0,.95);
    color: #fff;
    text-transform: uppercase;
}

/**
 * }}}
 * text align {{{
 */
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/**
 * }}}
 * sections {{{
 */

section {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

section header,
section blockquote {
    flex: 0 1 auto;
}

section header {
    align-self: flex-start;
    flex-basis: 33.3333%;
    color: #fff;
    text-align: right;
    border-right: 4px solid;
    padding: 1em;
}

section blockquote {
    align-self: flex-end;
    flex-basis: 50%;
}

section .left {
    flex-basis: 50%;
    text-align: right;
    padding: 1em;
}
section .right {
    justify-self: flex-end;
    flex-basis: 50%;
    text-align: left;
    padding: 1em;
}
@media screen and (max-width: 480px) {
    section {
        flex-wrap: wrap;
    }
    section:nth-child(2n) .right {
        order: -1;
    }
    section .left,
    section .right {
        flex-basis: 100%;
    }
}
/**
 * }}}
 */
/* vim:set fdm=marker foldlevel=0: */
