<!doctype html>
<html>
<title>dayvonjersen.com/</title>
<body>
	<pre>
<p>&quot;a chance encounter&quot; <abbr title="backed with">b/w</abbr> &quot;Bad Kingdom&quot; <del>remix</del><ins>Interpreted and Re-Preformed</ins> by dayvonjersen</p>
<p>i don't know how to sell a record but I have <span id="stock">149 copies in stock</span></p>
<p>it sounds like this <br>
<audio controls src="dayvonjersen_-_a_chance_encounter__vinyl_rip.wav"><a href="dayvonjersen_-_a_chance_encounter__vinyl_rip.wav">dayvonjersen_-_a_chance_encounter__vinyl_rip.wav</a></audio></p>
<!--
<audio controls src="0012 ASSA MIX.flac"><a href="0012 ASSA MIX.flac">0012 ASSA MIX.flac</a></audio></p>
-->
<p>and <strong>not</strong> like this <br>
<audio controls src="16_44100_moderat_-_bad_kingdom_[dayvonjersen's_higher_level_remix].wav"><a href="16_44100_moderat_-_bad_kingdom_[dayvonjersen's_higher_level_remix].wav">16_44100_moderat_-_bad_kingdom_[dayvonjersen's_higher_level_remix].wav</a></audio></p>
<p>asking at least <span id="dollar_amount">25$</span></p>
<p><a href="mailto:me@dayvonjersen.com">email me</a>@<a href="https://music.dayvonjersen.com">dayvonjersen.com</a></p>
<!--
<p><br><small><small><small><small><small>bulk pricing for distribution only minimum order restrictions may vary hocus pocus alakazam

wait now hold on. i can write here all inconspicuous like. nice. oh well so track A is about the time I got invited to a backyard party
I said "Hello I'm Dave" to everyone before realizing they were all people I had gone to highschool with. It was an inpromptu reunion. 

Anyway so

I'm playing my walkman as I do and the host keeps telling me to turn it up make it louder! make it louder! but the volume won't go up any higher
So we're drinking beers and talking shit. Time comes, we run out of beer and it's before 11 o'clock.

So everything was good right? We were talking things started out awkward but now we're going somewhere, 12 pack of Stella bring it to the counter and who should I see but

my ex

behind the counter

oh hey how ya been

brick wall

yeah me too

silence

oh that's nice

...

...

...

...

...

</small></small></small></small></small></p>-->
<pre>VIOLIN and VIOLA BY <a href="https://www.twitch.tv/mvrshcvt" target="_blank">mvrsh</a><a href="https://www.youtube.com/channel/UCYQQ3xBxd6o5IMoQWJ99kOg">cvt</a>

</body>
</html>